<div class="container">
  <h2>Restaurar contrase침a</h2>
  
  <form action="/changePass" method="post">
    <div>
      <label for=""class="form-label">Contrase침a</label>
      <input type="password" class="form-control" name="password1" id="password1" required />
    </div>
  <form action="" method="post">
    <div>
      <label for=""class="form-label">Confirmar contrase침a</label>
      <input type="password" class="form-control" name="password2" id="password2" required />
    </div>
    <input class="btn btn-warning" type="submit" value="Enviar" />
  </form>
  <br>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <a type= "button" class="btn btn-info" href="/login">Iniciar sesi칩n</a>
</div>