{{! Formulario de login }}

<div class="container">
  <h2>Login</h2>

  <form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="ingrese su email" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="ingrese su contraseña" required />
    </div>
    <button class="btn btn-danger">Enviar</button>
  </form>
  <form action="/api/sessions/github" method="get">
    <button class="btn btn-dark" ><i class="bi bi-github">  entrar con github</i></button>  </a>
  </form>

  {{! Si hay un error en el login mostramos el mensaje que nos envía el servidor }}
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <p>Restaurar contraseña <span><a href="/resetpassword">aquí</a></span></p>
  

  <p>¿No tienes cuenta?</p>
  <a href="/register">Regístrate</a>

</div>

