{{! Formulario de login }}

<div class="container">
  <h2>Login</h2>

  <form action="/login" method="POST">
    <div class="mb-4">
      <label for="email" class="form-label">Email</label>
      <input  type="email" class="form-control" name="email" id="email" placeholder="ingrese su email" required />
      <div id="emailHelp" class="form-text">No compartiremos su email ni sus datos.</div>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input type="password"  class="form-control" name="password" id="password" placeholder="ingrese su contraseña" required />
    </div class="mb-4">
    <button class="btn btn-info">Enviar</button>
  </form>
  <br>
  <form action="/api/sessions/github" method="get">
    <button class="btn btn-dark" ><i class="bi bi-github">  entrar con github</i></button>  </a>
  </form>

  {{! Si hay un error en el login mostramos el mensaje que nos envía el servidor }}
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <p>Restaurar contraseña <span><a href="/resetpassword">aquí</a></span></p>
  

  <h3>¿No tienes cuenta?</h3>
  <a type="button" class="btn btn-warning"  href="/register">Regístrate</a>

</div>

