{{!-- Formulario de registro --}}

<div class="container">
  <h2>Registro</h2>

  <form action="/register" method="POST">
    <div class="mb-3">
      <label for="first_name" class="form-label">Nombre</label>
      <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nombre" required />
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Apellidos</label>
      <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Apellidos" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Edad</label>
      <input type="age" class="form-control" name="age" id="age" placeholder="Edad" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required />
    </div>
    <button  class="btn btn-info" type="submit">Registro</button>
  </form>

  {{!-- Si hay un error en el registro mostramos el mensaje que nos envía el servidor --}}
  {{#if error}}
    <p>{{error}}</p> <br><br>
  {{/if}}

  <h3>¿Ya tienes cuenta?</h3>
  <a type="button" class="btn btn-warning" href="/login">Login</a>

</div>