<div class="container">
  <h2>Restaurar contraseña</h2>
  <h4>Le enviaremos un mail para recuperar su contraseña</h4>
  <form action="/resetpassword" method="post">
    <div>
      <label for="" class="form-label">Email</label>
      <input type="text"  class="form-control" name="email" id="email" required />
    </div>
    <input type="submit" class="btn btn-warning" value="Enviar" />
  </form>
  <br>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <a type="button" class="btn btn-info" href="/login">Iniciar sesión</a>
</div>